In [3]:
import pandas as pd
import os
import numpy

In [9]:
weekday_amsterdam=pd.read_csv("amsterdam_weekdays.csv")
weekday_amsterdam["location"]="Amsterdam"
weekday_amsterdam.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,location
0,0,194.033698,Private room,False,True,2.0,False,1,0,10.0,...,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,Amsterdam
1,1,344.245776,Private room,False,True,4.0,False,0,0,8.0,...,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,Amsterdam
2,2,264.101422,Private room,False,True,2.0,False,0,1,9.0,...,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,Amsterdam
3,3,433.529398,Private room,False,True,4.0,False,0,1,9.0,...,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,Amsterdam
4,4,485.552926,Private room,False,True,2.0,True,0,0,10.0,...,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,Amsterdam

In [16]:
weekday_athens=pd.read_csv("athens_weekdays.csv")
weekday_athens["location"]="Athens"

In [17]:
weekday_barcelona=pd.read_csv("barcelona_weekdays.csv")
weekday_barcelona["location"]="Barcelona"

In [18]:
weekday_berlin=pd.read_csv("berlin_weekdays.csv")
weekday_berlin["location"]="Berlin"

In [19]:
weekday_budapest=pd.read_csv("budapest_weekdays.csv")
weekday_budapest["location"]="Budapest"

In [20]:
weekday_lisbon=pd.read_csv("lisbon_weekdays.csv")
weekday_lisbon["location"]="Lisbon"

In [23]:
weekday_london=pd.read_csv("london_weekdays.csv")
weekday_london["location"]="London"

In [24]:
weekday_paris=pd.read_csv("paris_weekdays.csv")
weekday_paris["location"]="Paris"

In [25]:
weekday_rome=pd.read_csv("rome_weekdays.csv")
weekday_rome["location"]="Rome"

In [26]:
weekday_vienna=pd.read_csv("vienna_weekdays.csv")
weekday_vienna["location"]="Vienna"

In [27]:
weekday_concat = pd.concat([weekday_amsterdam, weekday_athens, weekday_barcelona,weekday_berlin,weekday_budapest, weekday_lisbon,weekday_london,weekday_paris,weekday_rome, weekday_vienna  ], ignore_index=True)

In [28]:
weekday_concat.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,location
0,0,194.033698,Private room,False,True,2.0,False,1,0,10.0,...,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,Amsterdam
1,1,344.245776,Private room,False,True,4.0,False,0,0,8.0,...,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,Amsterdam
2,2,264.101422,Private room,False,True,2.0,False,0,1,9.0,...,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,Amsterdam
3,3,433.529398,Private room,False,True,4.0,False,0,1,9.0,...,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,Amsterdam
4,4,485.552926,Private room,False,True,2.0,True,0,0,10.0,...,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,Amsterdam

In [67]:
weekday = weekday_concat.drop(['room_shared', 'room_private','Unnamed: 0'], axis=1)

In [68]:
weekday.head()

,realSum,room_type,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,location
0,194.033698,Private room,2.0,False,1,0,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,Amsterdam
1,344.245776,Private room,4.0,False,0,0,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,Amsterdam
2,264.101422,Private room,2.0,False,0,1,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,Amsterdam
3,433.529398,Private room,4.0,False,0,1,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,Amsterdam
4,485.552926,Private room,2.0,True,0,0,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,Amsterdam

In [71]:
weekday.to_csv('weekday.csv', index=False)

In [72]:
import sqlite3

In [75]:

# Create sqlite database and cursor
conn = sqlite3.connect('airbnb_eu.db')
c = conn.cursor()
# Create the table
c.execute("""CREATE TABLE IF NOT EXISTS airbnb_eu_weekday (
           realSum real,room_type text,person_capacity integer,host_is_superhost text,multi integer,
            biz integer,cleanliness_rating integer,guest_satisfaction_overall integer,bedrooms integer,dist real,
            metro_dist real,attr_index real, attr_index_norm real,rest_index real,rest_index_norm real,lng real,lat real,
            location text
            )""")
conn.commit()

test = conn.execute('SELECT * from airbnb_eu_weekday')
names = [description[0] for description in test.description]
print(names)

['realSum', 'room_type', 'person_capacity', 'host_is_superhost', 'multi', 'biz', 'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist', 'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index', 'rest_index_norm', 'lng', 'lat', 'location']

In [76]:
weekday.to_sql('airbnb_eu_weekday', conn, if_exists='append', index=False)

25500

In [80]:
conn.execute('SELECT * from airbnb_eu_weekday').fetchone()

(194.03369812293488,
 'Private room',
 2,
 '0',
 1,
 0,
 10,
 93,
 1,
 5.022963798088291,
 2.539380002594493,
 78.69037927190317,
 4.166707868490748,
 98.25389587009934,
 6.846472824200016,
 4.90569,
 52.41772,
 'Amsterdam')